<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button button-clear full clear color="light">Login</button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/imgs/logo.jpg">
  <h5 *ngIf="!showReset && !signup" text-center>Login</h5>
  <h5 *ngIf="showReset && !signup" text-center>Forgot Password</h5>
  <h5 *ngIf="!showReset && signup" text-center>Signup</h5>
  <ion-list>
    <ion-item class="no-padding" *ngIf="!signup">
      <ion-label color="primary">Email</ion-label>
      <ion-input [(ngModel)]="data.email" text-right type="email" required></ion-input>
    </ion-item>
  
    <ion-item *ngIf="!showReset && !signup" class="no-padding">
      <ion-label color="primary">Password</ion-label>
      <ion-input [(ngModel)]="data.password" text-right type="password"></ion-input>
    </ion-item>
    
    <button *ngIf="!showReset && !signup" text-center ion-button (click)="login()">Submit</button>
    <button *ngIf="showReset" text-center ion-button (click)="resetPassword()">Reset</button>
    <button *ngIf="showReset" text-center ion-button (click)="showReset = false">cancel</button></ion-list>

  <app-signup *ngIf="signup && !showReset" (state)="changeState($event)"></app-signup>

  <button *ngIf="!showReset" ion-button ion-text float-left outline clear small (click)="signup = false">Login</button>
  
  <button *ngIf="!showReset" ion-button ion-text float-right outline clear small (click)="showReset = true; signup = false;">Forgot Password</button>

  <button ion-button ion-text float-right outline clear small (click)="signup = true; showReset = false">Signup</button>

</ion-content>

