app-my-work-list {
  margin: 10px;

  ion-card.card {
    width: 100%;
    margin: 10px 0;
  }

  ion-card-content {
    padding: 5px;
    position: relative;
  }

  // ion-icon.remove-product {
  //   position: absolute;
  //   top: 2px;
  //   font-size: 25px;
  //   color: #04bae2;
  //   right: 5px;
  // }

  // ion-card-title.card-title {
  //   padding: 0;
  //   font-size: 16px;
  // }

  // .choosed-list p {
  //   padding: 0;
  //   margin: 0;

  //   ion-card.card {
  //     background: #eee;
  //   }

  // }

  // hr {
  //   background-color: #05aacf!important;
  //   height: 3px;
  // }

}
