<h4 *ngIf="comments.length" text-center>DEMO Comments: </h4>
<ion-list>
  <ion-card *ngFor="let comment of comments">
    <ion-card-content>
      <p><b>From: </b> email of commeted</p>
      <p><b>Message: </b> {{comment?.message}}</p>
      <p><b>Date: </b> {{comment?.date}}</p>
    </ion-card-content>
  </ion-card>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label color="primary" floating>Comments ... </ion-label>
    <ion-textarea [(ngModel)]="comment" (keyup.enter)="submitCommit($event)"></ion-textarea>
  </ion-item>
</ion-list>
