<app-header></app-header>
<ion-content padding>
  <h5>{{ store?.name }}</h5>
  <div class="tabs">
      <ion-icon *ngFor="let tab of tabs" name="{{tab}}" 
      (click)="tabSwitch(tab)"
      [ngClass]="{'active-tab': activeTabName == tab}"></ion-icon>
  </div>

  <ion-item *ngIf="activeTabName === 'list-box' || activeTabName === 'basket'">
    <ion-label>Company</ion-label>
    <ion-select [(ngModel)]="company" (ionChange)="sortByCompany(company)">
      <ion-option 
        *ngFor="let company of companies | async">{{company.name}}</ion-option>
    </ion-select>
  </ion-item>

  <app-list  
    *ngIf="activeTabName === 'list-box' || activeTabName === 'basket'"
    [activeTab]="activeTabName"
    [store]="store"
    [products]="products"></app-list>

  <app-supply
    *ngIf="activeTabName === 'briefcase'"
    [store]="store">
  </app-supply>

</ion-content>
