<app-header></app-header>
<ion-content padding>
  <h5>{{ store?.name }}</h5>

  <div class="tabs">
    <p *ngFor="let tab of tabs"
    (click)="tabSwitch(tab.icon)"
    [ngClass]="{'active-tab': activeTabName == tab.icon}">
      <ion-icon name="{{tab.icon}}"></ion-icon>
      <span>{{tab.name}}</span>
    </p>
  </div>

  <ion-item *ngIf="activeTabName === 'list-box' || activeTabName === 'basket'">
    <ion-label>Company</ion-label>
    <ion-select [(ngModel)]="defaultCompany" (ionChange)="sortByCompany(defaultCompany)">
      <ion-option selected="true">All Company</ion-option>
      <ion-option 
        *ngFor="let company of companies" [value]="company.key">{{company.company_name}}</ion-option>
    </ion-select>
  </ion-item>

  <app-list
    *ngIf="activeTabName === 'list-box' || activeTabName === 'basket'"
    [activeTab]="activeTabName"
    [store]="store"
    [products]="products"></app-list>

  <app-supply
    *ngIf="activeTabName === 'briefcase'"
    [store]="store">
  </app-supply>

  <app-payment
    *ngIf="activeTabName === 'card'"
    [store]="store">
  </app-payment>

</ion-content>
