<ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
<ion-card *ngFor="let product of products">
  <ion-card-content>
    <ion-card-title> {{ product.name }}</ion-card-title>
    <div class="product-raw">
      <span><b>weight: </b> {{product.Weight}}</span>
      <span><b>life: </b> {{product.Life}}</span>
      <span><b>tax: </b> {{product.TAX}}</span>
      <span><b>price: </b> {{product.Price}}</span>
      <span><b>ean: </b> {{product.EAN}}</span>
      <span><b>HSN: </b> {{product.HSN}}</span>
      <span><b>MRP: </b> {{product.MRP}}</span>
      <span><b>company: </b> {{product.company}}</span>
    </div>
    <div class="counter">
      <ion-icon class="left" name="remove-circle" (click)="count(product, false)"></ion-icon>
      <input type="number" [(ngModel)]="product.counter">
      <ion-icon name="add-circle" (click)="count(product, true)"></ion-icon>
    </div>
    <div class="buttons" *ngIf="product.counter">
      <p>
        <input type="text" placeholder="Note">
      </p>
      <p class="buttons-parent">
        <button ion-button color="danger">cancel</button>
        <button ion-button>submit</button>
      </p>
    </div>
  </ion-card-content>
</ion-card>
