app-list {
  margin: 10px;

  ion-card.card {
    width: 100%;
    margin: 10px 0;
  }

  .counter {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;

    ion-icon {
      display: block;
      width: 100%;
      font-size: 25px;
      text-align: right;
      color: #02647a;
    }

    .left {
      text-align: left;
    }

    input {
      display: block;
      border: 1px solid #d6f7ff;
      text-align: center;
      width: 100%;
      color: #0a86a2;
      font-size: 16px;
      border-radius: 3px;
    }

  }

  .buttons {
    p {
      border-bottom: 1px solid #eee;
    }
  }

  p.buttons-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }

  .product-raw {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-size: 12px;
      flex: 1 0 50%;
    }

  }

  ion-card-content {
    padding: 5px;
  }

  ion-card-title.card-title {
    padding: 0;
    font-size: 16px;
  }

}
