<ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
<ion-card *ngFor="let product of products">
  <ion-card-content>
    <ion-card-title> {{ product.name }} {{product.Weight}}</ion-card-title>
    <div class="product-raw">
      <span><b>price: </b> {{product.Price}}</span>
      <span><b>MRP: </b> {{product.MRP}}</span>
      <span><b>tax: </b> {{product.TAX}}</span>
    </div>
    <div class="counter">
      <ion-icon class="left" name="remove-circle" (click)="count(product, false)"></ion-icon>
      <p>
        <input type="number" [(ngModel)]="product.counter">
      </p>
      <ion-icon name="add-circle" (click)="count(product, true)"></ion-icon>
    </div>
    
  </ion-card-content>
</ion-card>

<div class="choosed-list">
  <hr>
  <p *ngFor="let product of products">
    <ion-card *ngIf="product.counter">
      <ion-card-content>
        <ion-card-title> {{ product.name }} {{product.Weight}}</ion-card-title>
        <div class="product-raw">
          <span><b>MRP: </b> {{product.MRP}}</span>
          <span><b>tax: </b> {{product.TAX}}</span>
          <div class="counter choosed-list-counter">
            <ion-icon class="left" name="remove-circle" (click)="count(product, false)"></ion-icon>
            <p>
              <input type="number" [(ngModel)]="product.counter">
            </p>
            <ion-icon name="add-circle" (click)="count(product, true)"></ion-icon>
          </div>
        </div>
        
        <ion-icon 
          class="remove-product"
          name="close-circle"
          (click)="product.counter = 0"
          *ngIf="product.counter"></ion-icon>
      </ion-card-content>
    </ion-card>
  </p>
  
</div>

<div class="parent-card">
  <div class="buttons">
    <input type="text" placeholder="Comment ...">
    <p class="buttons-parent">
      <button ion-button>submit</button>
    </p>
  </div>
</div>
