app-list {
  margin: 10px;

  ion-card.card {
    width: 100%;
    margin: 10px 0;
  }

  .counter {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;

    ion-icon {
      display: block;
      width: 100%;
      font-size: 25px;
      text-align: right;
      color: #02647a;
    }

    .left {
      text-align: left;
    }

    input {
      display: inline-block;
      border: 1px solid #d6f7ff;
      text-align: center;
      width: 40px;
      color: #0a86a2;
      font-size: 16px;
      border-radius: 3px;
      margin-right: 5px;
    }

    p {
      display: flex;

      ion-icon {
        color: #f23b3b;
      }

    }

  }

  .parent-card {
    position: relative;
    height: 90px;
  }

  .buttons {
    position: fixed;
    left: 0;
    width: 100%;
    background: #05aacf;
    bottom: 0;
    input {
      display: block;
      width: 100%;
      border: none;
      background: #05aacf;
      outline: none;
      color:#fff;
      padding: 7px;
      padding-left: 13px;
      border-bottom: 1px solid #5bcce5;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }

  p.buttons-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    margin: 0;
    padding: 0;
    padding-left: 13px;
  }

  .product-raw {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    span {
      font-size: 12px;
      flex: 1 0 50%;
    }

  }

  ion-card-content {
    padding: 5px;
  }

  ion-card-title.card-title {
    padding: 0;
    font-size: 16px;
  }

}
