<ion-item class="all-products-label">
  <ion-label>All Products</ion-label>
  <ion-checkbox [(ngModel)]="allProducts" (ionChange)="selectAllProduct(allProducts)"></ion-checkbox>
</ion-item>

<ion-searchbar (ionInput)="searchItems($event.target.value)"></ion-searchbar>

<ion-card *ngFor="let product of rowProducts">
  <ion-card-content>
    <ion-card-title> {{ product.name }} {{product.weight}}</ion-card-title>
    <div class="product-raw">
      <span><b>Price: </b> {{product.price}}</span>
      <span><b>MRP: </b> {{product.MRP}}</span>
      <span><b>TAX: </b> {{product.TAX}}</span>
    </div>
    <div class="counter">
      <ion-icon class="left" name="remove-circle" (click)="count(product, false)"></ion-icon>
      <p>
        <input type="number" [(ngModel)]="product.counter">
      </p>
      <ion-icon name="add-circle" (click)="count(product, true)"></ion-icon>
    </div>
    
  </ion-card-content>
</ion-card>

<div class="choosed-list" >
  <hr>
  <p *ngFor="let product of usersProduct">
    <ion-card>
      <ion-card-content>
        <ion-card-title> {{ product.name }} {{product.Weight}}</ion-card-title>
        <div class="product-raw">
          <span><b>MRP: </b> {{product.MRP}}</span>
          <span><b>tax: </b> {{product.TAX}}</span>
          <div class="counter choosed-list-counter">
            <ion-icon class="left" name="remove-circle" (click)="count(product, false)"></ion-icon>
            <p>
              <input type="number" [(ngModel)]="product.counter">
            </p>
            <ion-icon name="add-circle" (click)="count(product, true)"></ion-icon>
          </div>
        </div>

        <ion-icon
          class="remove-product"
          name="close-circle"
          (click)="removeProduct(product)"></ion-icon>
      </ion-card-content>
    </ion-card>
  </p>
</div>

<ion-list>
  <ion-item>
    <ion-label color="primary" floating>Comments ... </ion-label>
    <ion-textarea [(ngModel)]="comments" (keyup)="submitCommit($event)"></ion-textarea>
  </ion-item>
</ion-list>