search-item {
  ion-icon {
    float: right;
    color: #00a9cf;
    display: block;
  }

  div {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    b {
      display: inline-block;
      width: 40px;
    }
  }

  .remove-circle {
    color: #fc5353;
  }

  .update {
    padding-left: 6px;
  }

  .indicator {
    padding-left: 6px;
    color: #9e9d9d;
    float: right;
  }

  .active-margin {
    color: #042c35;
  }

}
