search-item {
  ion-icon {
    float: right;
    color: #00a9cf;
    display: block;
  }

  .remove-circle {
    color: #fc5353;
  }

  .update {
    padding-left: 6px;
  }

  .active-margin {
    color: #042c35;
  }

}
