<div (click)="openStore(item)">
  <p><b>Name:</b> {{item.name}}</p>
  <p><b>City:</b> {{item.city}}</p>
</div>

<!-- margin -->
<ion-icon
  name="cog"
  class="update"
  *ngIf="hideIcons"
  [ngClass]="{'active-margin': item.personal_margin || item.personal_description}"
  (click)="updateMargin(item)"></ion-icon>
<!-- update -->
<ion-icon 
  *ngIf="currentUid === item.created_by" 
  (click)="updateItem(item)"
  class="update"
  name="brush"></ion-icon>
<!-- remove -->
<ion-icon 
  *ngIf="currentUid === item.created_by" 
  (click)="updateItem(item, 'remove')"
  class="update"
  name="trash"></ion-icon>
<!-- actions -->
<ion-icon
  *ngIf="!hideIcons && currentUid !== item.created_by"
  (click)="updatePersonStore(item)"
  [ngClass]="{'remove-circle': checkPersonId(item)}"
  name="{{ (checkPersonId(item)) ? 'remove-circle' : 'add-circle'}}"></ion-icon>
<!-- store icons -->
<store-icons [dates]="_dates" [store]="item"></store-icons>
