<ion-item-group *ngIf="options.includes('stock')">
  <ion-item-divider>Stock diary <span>Total: {{stockList.length}} Value: {{priceValue.stock}}</span></ion-item-divider>
  <h4 *ngIf="!stockList.length"><i>don't have any products</i></h4>
  
  <div class="product-parent" *ngFor="let product of stockList">
    <h4>{{product.name}}</h4>
    <div *ngFor="let prod of product.data">
      <ion-card>
        <ion-card-content>
          <div>
            <i><b>Name: </b>{{prod.name}} {{prod.Weight}}</i>
            <span><b>Count: </b>{{prod.counter}}</span>
            <span><b>Price: </b>{{prod.Price}}</span>
          </div>
        </ion-card-content>
      </ion-card> 
    </div>
  </div>

</ion-item-group>

<ion-item-group *ngIf="options.includes('order')">
  <ion-item-divider>Ordered diary <span>Total: {{orderedList.length}} Value: {{priceValue.ordered}}</span></ion-item-divider>
  <h4 *ngIf="!orderedList.length"><i>don't have any products</i></h4>

  <div class="product-parent" *ngFor="let product of orderedList">
    <h4>{{product.name}}</h4>
    <div *ngFor="let prod of product.data">
      <ion-card>
        <ion-card-content>
          <div>
            <i><b>Name: </b>{{prod.name}} {{prod.Weight}}</i>
            <span><b>Count: </b>{{prod.counter}}</span>
            <span><b>Price: </b>{{prod.Price}}</span>
          </div>
        </ion-card-content>
      </ion-card> 
    </div>
  </div>

</ion-item-group>

<ion-item-group  *ngIf="options.includes('supply')">
  <ion-item-divider color="light">Supply diary <span>Total: {{supplyList.length}} Price: {{priceValue.supply}}</span></ion-item-divider>
  <h4 *ngIf="!supplyList.length"><i>don't have any products</i></h4>

  <div class="product-parent" *ngFor="let product of supplyList">
    <h4>Store: {{product.name}}</h4>
    <div *ngFor="let prod of product.data">
      <ion-card>
        <ion-card-content>
          <div>
            <span><b>Bill amount: </b>{{prod.amount}}</span>
            <span><b>Supplied date: </b>{{prod.supply_date}}</span>
            <span><b>Ordered date: </b>{{prod.ordered_date}}</span>
            <p><b>Ordered by: </b>{{(prod.order_by | getEmail | async)?.email}}</p>
            <p><b>Supplied by: </b>{{(prod.supplied_by | getEmail | async)?.email}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-item-group>

<ion-item-group  *ngIf="options.includes('payment')">
  <ion-item-divider color="light">Payment diary <span>Total: {{paymentList.length}} Price: {{priceValue.payment}}</span></ion-item-divider>
  <h4 *ngIf="!paymentList.length"><i>don't have any products</i></h4>

  <div class="product-parent" *ngFor="let product of paymentList">
    <h4>Store: {{product.name}}</h4>
    <div *ngFor="let prod of product.data">
      <ion-card>
        <ion-card-content>
          <div>
            <span><b>Bill amount: </b>{{prod.amount}}</span>
            <span><b>Payment date: </b>{{prod.payment_date}}</span>
            <span><b>Payment amount: </b>{{prod.payment_amount}}</span>
            <span><b>Payment method: </b>{{prod.method}}</span>
            <p><b>Payment by: </b>{{(prod.collected_by | getEmail | async)?.email}}</p>
            <p *ngIf="prod.comment"><b>Comment: </b>{{prod.comment}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-item-group>
