<ion-item-group>
  <ion-item-divider>Stock diary <span>Total: {{stockList.length}}</span></ion-item-divider>

  <div class="product-parent" *ngFor="let product of stockList">
    <div *ngFor="let prod of product | keys | datePipe : choosenDates : 'date'; let i = index;">
      <h4 *ngIf="i === 0">{{ product.key }}</h4>
      <ion-card>
        <ion-card-content>
          <div>
            <i><b>Name: </b>{{prod.name}} {{prod.Weight}}</i>
            <span><b>Bill date: </b>{{prod.date}}</span>
            <span><b>Bill no. </b>{{prod.bill_number}}</span>
            <span><b>Count: </b>{{prod.bill_number}}</span>
            <span><b>Price: </b>{{prod.Price}}</span>
            <span><b>TAX: </b>{{prod.TAX}}</span>
            <span><b>MRP: </b>{{prod.MRP}}</span>
            <span><b>Life: </b>{{prod.Life}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-item-group>

<ion-item-group>
  <ion-item-divider>Supply diary <span>Total: {{orderedList.length}}</span></ion-item-divider>
  <div class="product-parent" *ngFor="let product of orderedList">

    <div *ngFor="let prod of product | keys | datePipe : choosenDates : 'date'; let i = index;">
      <h4 *ngIf="i === 0">{{ product.key }}</h4>
      <ion-card>
        <ion-card-content>
          <div>
            <span><b>Name: </b>{{prod.name}} {{prod.Weight}}</span>
            <span><b>Bill date: </b>{{prod.date}}</span>
            <span><b>Bill no. </b>{{prod.bill_number}}</span>
            <span><b>Count: </b>{{prod.bill_number}}</span>
            <span><b>Price: </b>{{prod.Price}}</span>
            <span><b>TAX: </b>{{prod.TAX}}</span>
            <span><b>MRP: </b>{{prod.MRP}}</span>
            <span><b>Life: </b>{{prod.Life}}</span>
          </div>
        </ion-card-content>
      </ion-card> 
    </div>

  </div>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">Order diary <span>Total: {{paymentList.length}}</span></ion-item-divider>
  <div class="product-parent" *ngFor="let product of paymentList">

    <div *ngFor="let prod of product | keys | datePipe : choosenDates : 'payment_date'">
      <h4 *ngIf="i === 0">Store: {{product.key}}</h4>
      <ion-card>
        <ion-card-content>
          <div>
            <span><b>Name: </b>{{prod.name}} {{prod.Weight}}</span>
            <span><b>Bill date: </b>{{prod.date}}</span>
            <span><b>Bill no. </b>{{prod.bill_number}}</span>
            <span><b>Count: </b>{{prod.bill_number}}</span>
            <span><b>Price: </b>{{prod.Price}}</span>
            <i><b>Ordered by: </b>{{(prod.order_by | getEmail | async)?.email}}</i>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">Payment diary <span>Total: {{paidList.length}}</span></ion-item-divider>
  <div class="product-parent" *ngFor="let product of paidList">

    <div *ngFor="let prod of product | keys | datePipe : choosenDates : 'supply_date'">
      <h4 *ngIf="index === 0">Store: {{product.key}}</h4>
      <ion-card>
        <ion-card-content>
          <div>
            <span><b>Name: </b>{{prod.name}} {{prod.Weight}}</span>
            <span><b>Bill date: </b>{{prod.date}}</span>
            <span><b>Bill no. </b>{{prod.bill_number}}</span>
            <span><b>Count: </b>{{prod.bill_number}}</span>
            <span><b>Price: </b>{{prod.Price}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-item-group>
