single-store-page {
  span {
    float: right;
    display: block;
    text-align: right;
  }

  h4 {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
  }

  p {
    padding: 7px;
    margin: 0;
    border-bottom: 1px solid #eee;
  }

}