<ion-card *ngFor="let product of products">
  <ion-card-content>
    <ion-icon text-right name="create" (click)="editItem(product)"></ion-icon>
    <ion-icon text-right name="trash" (click)="deleteItem(product)"></ion-icon>
    <ion-item>
      <p><b>Bill number:</b> {{product.bill_number}}</p>
      <p><b>Bill value:</b> {{product.amount}}</p>
      <p><b>Bill date:</b> {{product.bill_date}}</p>
      <p><b>Order id:</b> {{product.order_id}}</p>
      <p><b>Ordered date:</b> {{product.order_date}}</p>
      <p><b>Status:</b> {{product.supply_status}}</p>
      <p><b>Store name:</b> {{product.store_name}}</p>
      <p><b>Salezman:</b> {{(product.ordered_by | getEmail | async)?.email}}</p>
    </ion-item>
    <button ion-button full (click)="approveItem()">Approve</button>
  </ion-card-content>

  <!-- <app-store-comment 
    [commentKey]="product.name" 
    [date]="product.order_date"></app-store-comment> -->
</ion-card>
