<ion-menu type="overlay" [content]="content" [ngClass]="{'admin-menu': showAdminButton}">
  <ion-header menuToggle>
    <ion-toolbar>
      <ion-title text-center>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="!showAdmin">
    <ion-list>
      <button ion-item (click)="navigate('MyWorkPage')">My work</button>
      <button ion-item>My search</button>
      <button ion-item>My plan</button>
      <button ion-item>My profile</button>
      <a (click)="logout()" ion-item>Logout</a>
      <a class="admin-button" (click)="showAdmin = true" *ngIf="showAdminButton" ion-item>Admin</a>
    </ion-list>
  </ion-content>

  <ion-content *ngIf="showAdmin">
    <ion-list>
      <button 
        class="admin-button"
        ion-item (click)="navigate('storeBilling')">Store Billing</button>
      <button 
        class="admin-button"
        ion-item (click)="navigate('myUsers')">My Users</button>
      <button 
        class="admin-button"
        ion-item (click)="navigate('myUsersWork')">My User Works</button>
      <button 
        class="admin-button"
        ion-item (click)="navigate('manageProduct')">Manage Products</button>
      <!-- <button ion-item (click)="navigate('manageStore')">Manage Stores</button> -->
      <!-- <button ion-item>Store pending Payments</button> -->
      <!-- <button ion-item>My Settings - In App Purchase </button> -->
      <a (click)="logout()" ion-item>Logout</a>
      <a 
        class="admin-button" 
        ion-item 
        (click)="showAdmin = false">User</a>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #myNav #content [root]="rootPage"></ion-nav>
