ion-content {
  top: 45px;
  .scroll-content {
    padding-bottom: 45px!important;
  }
}

app-component {

  .distributer {
    color:#02b9e2;
  }

}

ion-alert.alert-showing {

  div.alert-message {
    text-align: center;
  }

  span.button-inner {
    display: block;
    text-align: center;
  }

}

ion-tabs {
  top: auto;
}
