<ion-menu type="overlay" [content]="content">
  <ion-header menuToggle>
    <ion-toolbar>
      <ion-title text-center>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="!showAdmin">
    <ion-list>
      <button ion-item (click)="navigate('MyWorkPage')">My work</button>
      <button ion-item>My search</button>
      <button ion-item>My plan</button>
      <button ion-item>My profile</button>
      <button (click)="logout()" ion-item>Logout</button>
      <button (click)="switchToAdmin()" ion-item>Admin</button>
    </ion-list>
  </ion-content>

  <ion-content *ngIf="showAdmin">
    <ion-list>
      <button ion-item>Store Billing</button>
      <button ion-item (click)="navigate('myUsers')">My Users</button>
      <button ion-item>My User Works</button>
      <button ion-item>Store pending Payments</button>
      <button ion-item>My Settings - In App Purchase </button>
      <button (click)="logout()" ion-item>Logout</button>
      <button ion-item (click)="showAdmin = false">User</button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #myNav #content [root]="rootPage"></ion-nav>



