app-manage-products {

  ion-icon.add-product {
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    right: 20px;
    font-size: 50px;
    color: #02b9e2;
  }

  h5 {
    padding-top: 10px;
  }

}
