app-manage-products {

  ion-icon.add-product {
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    right: 20px;
    font-size: 50px;
    color: #02b9e2;
  }

  p.action {
    overflow: hidden;
    padding: 0 0 5px 0;
    ion-icon {
      float: right;
      font-size: 18px;
      padding: 5px 10px;
    }
  }

  h5 {
    padding-top: 10px;
  }

}
