<app-header></app-header>
<ion-content padding>
  <h5 text-center>Create new product</h5>
  <form [formGroup]="form" (ngSubmit)="submitForm(form)">
    <ion-list>
      <div *ngFor="let field of fields">
        <ion-item *ngIf="field.controller !== 'company'">
          <ion-label>{{field.name}}</ion-label>
          <ion-input
            text-right 
            [formControlName]="field.controller"
            placeholder="******"
            [type]="field.type"></ion-input>
        </ion-item>
      </div>
      <div class="company">
        <ion-item>
          <ion-label>Company</ion-label> 
          <ion-select formControlName="company">
            <ion-option *ngFor="let company of companies" 
            [value]="company.key">{{company.company_name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>  
    </ion-list>
    <button ion-button [disabled]="form.invalid" type="submit">submit</button>
  </form>
</ion-content>