app-add-product {
  h5 {
    padding-top: 10px;
  }

  div.item-inner {
    border-bottom: none!important;
  }

  div.company ion-item {
    border-bottom: 1px solid #dedede;
  }

  form {
    padding-bottom: 40px;
  }

}
