personal-store {
  ion-list {
    margin-bottom: 0!important;
  }

  h4 {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 18px;
    padding-left: 30px;
    float: left;
  }

  div.title {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  }

  .active {
    color:#02b9e2;
  }

}
