store-billing-payment {
  display: block;
  margin-bottom: 20px;

  div.supply-item {
    padding: 2px 0;

    div {
      border-bottom: 1px solid #333;
      &:last-child {
        border-bottom: none;
      }
    }

    p {
      color: #ff4747 !important;
      border-bottom: 1px solid #ffcdcd;
    }
  }
  
}
