<ion-item *ngIf="products && products.length">
  <ion-label>Bill sort</ion-label>
  <ion-select [(ngModel)]="value" (ionChange)="sortByBill(value)">
    <ion-option *ngFor="let bill of billArray">{{bill}}</ion-option>
  </ion-select>
</ion-item>

<ion-card *ngFor="let product of products">
  <ion-card-content>
    <div class="product-raw">
      <span><b>Date: </b> {{product.bill_date}}</span>
      <span><b>Bill no.: </b> {{product.bill_number}}</span>
      <span><b>Amount: </b> {{product.abount}}</span>
      <span><b>Status: </b> {{product.supply_status}}</span>
      <span><b>Status: </b> {{product.supply_status}}</span>
    </div>
  </ion-card-content>
</ion-card>

<h4 *ngIf="products && !products.length">Don't have any supply</h4>
