<ion-item *ngIf="products && products.length">
  <ion-label>Bill sort</ion-label>
  <ion-select [(ngModel)]="billValue" (ionChange)="sortByBill(billValue)">
    <ion-option *ngFor="let bill of billArray">{{bill}}</ion-option>
  </ion-select>
</ion-item>

<ion-card *ngFor="let product of products" [ngClass]="{'supplied': product.supplied_by}">
  <ion-card-content>
    <div class="product-raw">
      <span><b>Bill date: </b>{{product.bill_date}}</span>
      <span><b>Bill no.</b>{{product.bill_number}}</span>
      
      <span><b>Amount: </b>{{product.amount}}</span>
      <span><b>Status: </b>
        <button *ngIf="!product.supplied_by" (click)="supplyItem(product)">{{product.supply_status}}</button>
        <button class="supplied" *ngIf="product.supplied_by">supplied</button>
      </span>
    </div>
    <p><b>Order by: </b>{{ (product.order_by | getEmail | async)?.email }}</p>
    <p><b>Ordered date: </b>{{product.order_date}}</p>
    <div class="footer" *ngIf="product.supplied_by">
      <p><b>Supplied by:</b> {{ (product.supplied_by | getEmail | async)?.email }}</p>
      <p><b>Supplied date:</b> {{product.supply_date}}</p>
    </div>
  </ion-card-content>
</ion-card>

<h4 *ngIf="commits.length">Comments: </h4>
<ion-list>
  <ion-card *ngFor="let commit of commits">
    <ion-card-content>
      <p><b>From: </b> {{ (commit?.uid | getEmail | async)?.email }}</p>
      <p><b>Message: </b> {{commit?.message}}</p>
      <p><b>Date: </b> {{commit?.date}}</p>
    </ion-card-content>
  </ion-card>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label color="primary" floating>Comments ... </ion-label>
    <ion-textarea [(ngModel)]="comment" (keyup.enter)="submitCommit($event)"></ion-textarea>
  </ion-item>
</ion-list>

<h4 *ngIf="products && !products.length">Don't have any supply</h4>
