<app-header></app-header>
<ion-content padding>
  <h5 text-center>Store Billing Page</h5>
  <ion-item class="date">
    <ion-label>Date </ion-label>
    <ion-select [(ngModel)]="date" (ionChange)="dateEvent(date)">
      <ion-option>Today</ion-option>
      <ion-option>Yesterday</ion-option>
      <ion-option>This week</ion-option>
      <ion-option>This month</ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="date">
    <ion-label>Salezman </ion-label>
    <ion-select 
      [(ngModel)]="salezman" 
      (ionChange)="orderByUser(salezman)">
      <ion-option>All</ion-option>
      <ion-option 
        *ngFor="let user of users; let i = index" 
        [value]="user.key">{{(user.key | getEmail | async)?.email}}</ion-option>
    </ion-select>
  </ion-item>

  <div class="card-parent" *ngFor="let bill of bills; let i = index;">
      <ion-card class="store">
        <ion-card-content>
          <p>Store Name: <span text-right>{{bill.name}}</span></p>
          <ion-item>
            <ion-label color="primary">Bill number: </ion-label>
            <ion-input 
              type="number"
              [(ngModel)]="bill.bill_number"
              text-right 
              placeholder="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Bill value: </ion-label>
            <ion-input 
              type="number"
              [(ngModel)]="bill.amount"
              text-right 
              placeholder="0"></ion-input>
          </ion-item>
          <ion-item class="date">
            <ion-label>Date</ion-label>
            <ion-datetime
            [(ngModel)]="bill.bill_date"
            [placeholder]="storeDate"
            displayFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <button ion-button (click)="submitValue(bill)" full>submit</button>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let product of bill.data">
        <ion-card-content class="card">
          <div>
            <p><b>Name: </b>{{product.name}}</p>
            <span><b>Qty: </b>{{product.counter}}</span>
            <span class="price"><b>Price: </b>{{product.price}}</span>
          </div>
        </ion-card-content>
      </ion-card> 
  </div>

  <!-- text supplies -->
  <app-test-supply [chooseDate]="choosenDates" [salezman]="salezman"></app-test-supply>
  
  <app-store-comment></app-store-comment>

</ion-content>
