app-store-billing {
  ion-card.card {
    width: 100%;
    margin: 10px 0;
  }

  .store {
    background-color: #f7f6f6;
    p, ion-label, .datetime-md {
      color: #100e0e !important;
      font-size: 14px;
    }

    span {
      display: inline-block;
      float: right;
    }

    ion-item {
      background-color: #f7f6f6;
      padding-left: 0;
    }
  }

  div.card-parent {
    margin-bottom: 25px;
    border-bottom: 4px solid #02b9e2;
    padding-bottom: 15px;
  }

  .card  {
    span.price {
      float: right;
    }
  }

  button span {
    padding-top: 10px;
  }

  // div {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   justify-content: space-between;

  //   span {
  //     font-size: 12px;
  //     flex: 1 0 50%;
  //   }
    
  //   p {
  //     font-size: 12px!important;
  //   }

  //   i {
  //     font-style: normal;
  //     padding-bottom: 3px;
  //   }

  // }

  // .product-parent {
  //   padding-top: 10px;
  // }

}
