<app-header></app-header>
<ion-content padding>
  <h5 text-center>Store Billing Page</h5>
  <!-- <h5>{{ store?.name }}</h5>
  <div class="tabs">
    <p *ngFor="let tab of tabs"
    (click)="tabSwitch(tab.icon)"
    [ngClass]="{'active-tab': activeTabName == tab.icon}">
      <ion-icon name="{{tab.icon}}"></ion-icon>
      <span>{{tab.name}}</span>
    </p>
  </div>

  <ion-item *ngIf="activeTabName === 'list-box' || activeTabName === 'basket'">
    <ion-label>Company</ion-label>
    <ion-select [(ngModel)]="defaultCompany" (ionChange)="sortByCompany(defaultCompany)">
      <ion-option 
        *ngFor="let company of companies" [value]="company.name">{{company.name}}</ion-option>
    </ion-select>
  </ion-item> -->

</ion-content>
