<app-header></app-header>
<ion-content padding>
  <h5 text-center>Create new Store</h5>
  <form [formGroup]="form" (ngSubmit)="submitForm(form)">

    <ion-list>
      <div *ngFor="let field of fields">

        <ion-item *ngIf="field.name !== 'Description' && field.name !== 'City'">
          <ion-label>{{field.name}}</ion-label>
          <ion-input
            text-right
            [formControlName]="field.controller"
            placeholder="******"
            [type]="field.type"></ion-input>
        </ion-item>

        <!-- <ion-item *ngIf="field.name === 'City'">
          <ion-label>City</ion-label>
          <ion-select [formControlName]="field.controller">
            <ion-option
              *ngFor="let city of cities"
              [value]="city.name">{{city.name}}</ion-option>
          </ion-select>
        </ion-item> -->

        <ion-item *ngIf="field.name === 'Description'">
          <ion-label>Description</ion-label>
          <ion-textarea 
            text-right 
            [formControlName]="field.controller"
            type="text"
            placeholder="text"></ion-textarea>
        </ion-item>

      </div>
    </ion-list>

    <button ion-button [disabled]="form.invalid" type="submit">submit</button>
  </form>
</ion-content>