<app-header></app-header>

<ion-content padding>
  <h5 text-center>My users Page</h5>
  <ion-card *ngFor="let user of users">
    <ion-card-content>
      <span>Email: {{user.email}}</span>
      <span>Password: {{user.pass}}</span>
      <div>
        <span>
          Admin: 
          <i *ngIf="user.admin">enable</i>
          <i *ngIf="!user.admin">disable</i>
        </span>
        <span>
          Status: 
          <i *ngIf="user.activate">activate</i>
          <i *ngIf="!user.activate">deactivate</i>
        </span>
      </div>
      <span>
        Action: <ion-icon name="trash"></ion-icon> 
      </span>
    </ion-card-content>
  </ion-card>

  <button ion-fab (click)="createNewUser()"><ion-icon name="add"></ion-icon></button>

</ion-content>
