<app-header></app-header>

<ion-content padding>
  <h5 text-center>My users Page</h5>
  <ion-card *ngFor="let user of users">
    <ion-card-content>
      <span>Email: {{user.email}}</span>
      <div>
        <span>
          Admin: 
          <i *ngIf="user.admin" (click)="activateUser(user)">enable</i>
          <i *ngIf="!user.admin" (click)="activateUser(user, true)">disable</i>
        </span>
      </div>
      <span (click)="deleteUser(user)">
        Action: <ion-icon name="trash"></ion-icon> 
      </span>
    </ion-card-content>
  </ion-card>

  <button ion-fab (click)="createNewUser()"><ion-icon name="add"></ion-icon></button>

</ion-content>
