<ion-item *ngIf="products && products.length">
  <ion-label>Bill sort</ion-label>
  <ion-select [(ngModel)]="billValue" (ionChange)="sortByBill(billValue)">
    <ion-option *ngFor="let bill of billArray">{{bill}}</ion-option>
  </ion-select>
</ion-item>

<ion-card *ngFor="let product of products">
  <ion-card-content>
    <div class="product-raw">
      <span><b>Bill date: </b>{{product.bill_date}}</span>
      <span><b>Bill no. </b>{{product.bill_number}}</span>
      <span><b>Bill amount: </b>{{product.amount}}</span>
    </div>
    <div class="footer">
      <p><b>Supplied by:</b> {{ (product.supplied_by | getEmail | async)?.email }}</p>
      <p><b>Supplied date:</b> {{product.supply_date}}</p>
      <p>
        <b>Payment status:</b>
        <button 
          [ngClass]="{'done': product.payment_status === 'done'}"
          (click)="payOptionEvent(product, null)">{{ product.payment_status }}</button>
      </p>
      <p *ngIf="product.payOptions">
        <span 
          *ngFor="let option of options"
          class="span chq"
          [ngClass]="{'cancel': option === 'cancel'}"
          (click)="payOptionEvent(product, option)">{{option}}</span>
      </p>

      <app-cash
        *ngIf="product.payOptions && product.method === 'cash'" 
        [product]="product"
        [keys]="keyForRemove"
        [store]="store"></app-cash>

      <app-neft 
        *ngIf="product.payOptions && product.method === 'neft'" 
        [product]="product"
        [keys]="keyForRemove"
        [store]="store"></app-neft>

      <app-chq 
        *ngIf="product.payOptions && product.method === 'chq'" 
        [product]="product"
        [keys]="keyForRemove"
        [store]="store"></app-chq>

    </div>
  </ion-card-content>
</ion-card>

<app-paid *ngIf="paidList" [paidList]="paidList"></app-paid>

<h4 *ngIf="products && !products.length">Don't have any payments</h4>
