<ion-item *ngIf="products && products.length">
  <ion-label>Bill sort</ion-label>
  <ion-select [(ngModel)]="billValue" (ionChange)="sortByBill(billValue)">
    <ion-option *ngFor="let bill of billArray">{{bill}}</ion-option>
  </ion-select>
</ion-item>

<ion-card *ngFor="let product of products">
  <ion-card-content>
    <div class="product-raw">
      <span><b>Bill date: </b>{{product.bill_date}}</span>
      <span><b>Bill no. </b>{{product.bill_number}}</span>
      <span><b>Bill amount: </b>{{product.amount}}</span>
    </div>
    <div class="footer">
      <p><b>Supplied by:</b> {{ (product.supplied_by | getEmail | async)?.email }}</p>
      <p><b>Supplied date:</b> {{product.supply_date}}</p>
      <p>
        <b>Payment status:</b>
        <button 
          [ngClass]="{'done': product.payment_status === 'done'}"
          (click)="payOptionEvent(product, null)">{{ product.payment_status }}</button>
      </p>
      <p *ngIf="product.payOptions">
        <span class="span cash" (click)="payOptionEvent(product, 'cash')">cash</span>
        <span class="span chq" (click)="payOptionEvent(product, 'chq')">chq</span>
        <span class="span chq" (click)="payOptionEvent(product, 'neft')">neft</span>
        <span class="span chq cancel" (click)="payOptionEvent(product, 'cancel')">cancel</span>
      </p>

      <p
        *ngIf="product.payOptions && product.method === 'cash'" 
        class="amount-class">
        <ion-item>
          <ion-label color="primary">Amount</ion-label>
          <ion-input
            type="number"
            text-right
            [(ngModel)]="cash_amount"
            placeholder="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Comment</ion-label>
          <ion-input
            type="text"
            text-right
            [(ngModel)]="comment"
            placeholder="text"></ion-input>
        </ion-item>
        <button 
          [disabled]="!cash_amount"
          (click)="submitForm(cash_amount, product)">submit</button>
      </p>

      <form 
        *ngIf="product.payOptions && product.method === 'neft'"
        [formGroup]="neftForm"
        (ngSubmit)="submitForm(neftForm.value, product)"
        class="amount-class">
        <ion-item class="date">
          <ion-label>Cheque date</ion-label>
          <ion-datetime
            [placeholder]="date"
            formControlName="neft_date"
            displayFormat="DD/MM/YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Amount</ion-label>
          <ion-input 
            text-right
            type="number"
            placeholder="number"
            formControlName="neft_amount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Comment</ion-label>
          <ion-input
            type="text"
            text-right
            formControlName="comment"
            placeholder="text"></ion-input>
        </ion-item>
        <button 
          [disabled]="neftForm.invalid"
          type="submit">submit</button>
      </form>

      <app-chq 
        *ngIf="product.payOptions && product.method === 'chq'" 
        [product]="product" 
        [store]="store"></app-chq>

    </div>
  </ion-card-content>
</ion-card>

<h2 text-center *ngIf="paidList.length">Paid List </h2>

<ion-card *ngFor="let payment of paidList" class="paid">
  <ion-card-content>
    <div class="product-raw">
      <span><b>Bill date: </b>{{payment.bill_date}}</span>
      <span><b>Bill no. </b>{{payment.bill_number}}</span>
      <span><b>Bill amount: </b>{{payment.amount}}</span>
      <span><b>Collected By: </b>{{(payment.collected_by | getEmail | async)?.email}}</span>
      <span><b>Payment status: </b>PAID</span>
      <span *ngIf="payment.chq_bank"><b>Bank: </b>{{payment.chq_bank}}</span>
      <span><b>Payment date: </b>{{payment.payment_date}}</span>
      <span><b>Paid option: </b>{{(payment.cash) ? 'cash' : 'cheque'}}</span>
      <span><b>Paid amount: </b>{{(payment.cash) ? payment.cash_amount : payment.chq_amount}}</span>
      <span *ngIf="payment.comment"><b>Comment: </b>{{payment.comment}}</span>
    </div>
  </ion-card-content>
</ion-card>

<h4 *ngIf="products && !products.length">Don't have any payments</h4>
