<ion-item *ngIf="products && products.length">
  <ion-label>Bill sort</ion-label>
  <ion-select [(ngModel)]="billValue" (ionChange)="sortByBill(billValue)">
    <ion-option *ngFor="let bill of billArray">{{bill}}</ion-option>
  </ion-select>
</ion-item>

<ion-card *ngFor="let product of products" [ngClass]="{'paid': product.supplied_by}">
  <ion-card-content>
    <div class="product-raw">
      <span><b>Bill date: </b>{{product.bill_date}}</span>
      <span><b>Bill no.</b>{{product.bill_number}}</span>
    </div>
    <div class="footer">
      <p><b>Supplied by:</b> {{ (product.supplied_by | getEmail | async)?.email }}</p>
      <p><b>Supplied date:</b> {{product.supply_date}}</p>
      <p>
        <b>Payment status:</b>
        <button
          (click)="product.payOptions = true"
          *ngIf="product.payment_status === 'pending'">{{ product.payment_status }}</button>
        <!-- <button class="supplied">done</button> -->
      </p>
      <p *ngIf="product.payOptions">
        <span class="span cash" (click)="payOptionEvent(product, 'cash')">cash</span>
        <span class="span chq" (click)="payOptionEvent(product, 'chq')">chq</span>
      </p>

      <p 
        *ngIf="product.cash" 
        class="amount-class">
        <ion-item>
          <ion-label color="primary">Amount</ion-label>
          <ion-input
            type="number"
            text-right
            [(ngModel)]="cash_amount"
            placeholder="number"></ion-input>
        </ion-item>
        <button (click)="submitForm(cash_amount, 'cash')">submit</button>
        <button 
          (click)="payOptionEvent(product, 'cancel')"
          class="cancel">cancel</button>
      </p>

      <form 
        *ngIf="product.chq"
        [formGroup]="form"
        (ngSubmit)="submitForm(form.value)"
        class="amount-class">
        <ion-item>
          <ion-label color="primary">Cheque number </ion-label>
          <ion-input 
            text-right
            type="number"
            placeholder="number"  
            formControlName="chq_number"></ion-input>
        </ion-item>
        <ion-item class="date">
          <ion-label>Cheque date</ion-label>
          <ion-datetime
            [placeholder]="date"
            formControlName="chq_date"
            displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Amount</ion-label>
          <ion-input 
            text-right
            type="number"
            placeholder="number"
            formControlName="chq_amount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Bank</ion-label>
          <ion-input 
            text-right
            type="number"
            placeholder="number"  
            formControlName="chq_bank"></ion-input>
        </ion-item>
        <button type="submit">submit</button>
        <button 
          class="cancel" 
          (click)="payOptionEvent(product, 'cancel')">cancel</button>
      </form>
    </div>
  </ion-card-content>
</ion-card>

<!-- 
<h4 *ngIf="commits.length">Commits: </h4>
<ion-list>
  <ion-card *ngFor="let commit of commits">
    <ion-card-content>
      <p><b>From: </b> {{ (commit?.uid | getEmail | async)?.email }}</p>
      <p><b>Message: </b> {{commit?.message}}</p>
      <p><b>Date: </b> {{commit?.date}}</p>
    </ion-card-content>
  </ion-card>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label color="primary" floating>Comments ... </ion-label>
    <ion-textarea [(ngModel)]="comment" (keyup.enter)="submitCommit($event)"></ion-textarea>
  </ion-item>
</ion-list> -->

<h4 *ngIf="products && !products.length">Don't have any supply</h4>
