app-payment {

  ion-card.card {
    width: 100%;
    margin: 10px 0;
  }

  button {
    padding: 2px 3px;
    color: #fff;
    background: red;
    border-radius: 2px;
    font-size: 11px;
  }

  button.supplied {
    background:green;
  }

  .product-raw {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    span {
      font-size: 12px;
      flex: 1 0 50%;
    }
  }

  .supplied{
    background: #efefef;
  }

  .footer{
    padding-top: 10px;
  }

  p {
    font-size: 12px!important;
  }

  h4 {
    text-align: center;
    padding: 20px;
  }

  .span {
    color: #fff;
    padding: 2px 7px;
    margin-left: 3px;
    border-radius: 3px;
  }

  .cancel {
    background: #a3a3a3;
  }

  span.cash {
    background: #02b9e2;
  }

  span.chq {
    background: #02b9e2;
  }


  .amount-class {
    ion-item {
      padding-left: 0;
    }
    button {
      background: #02b9e2;
      font-size: 13px;
      padding: 6px 13px;
      margin-top: 5px;
    }
  }

  button.cancel, span.cancel {
    background: #a3a3a3;
  }

  button.done {
    background: green;
  }

  .date {
    ion-label {
      color: #04bae2!important;
    }
    button {
      background: none;
    }
  }
  
  ion-card.paid {
    background: #eee;
  }

  ion-item.item-block {
    min-height: auto;
    font-size: 13px;
  }

}