<p class="title"><b>Stock: </b> <i>Total shops:</i> 17 <i>Total value:</i> 800</p>
<ion-card>
  <ion-card-header>letscodebishkek@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>5</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>test@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>12</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card> 

<p class="title"><b>Order: </b> <i>Total shops:</i> 17 <i>Total value:</i> 800</p>
<ion-card>
  <ion-card-header>letscodebishkek@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>5</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>test@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>12</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card> 

<p class="title"><b>Supply: </b> <i>Total shops:</i> 17 <i>Total value:</i> 800</p>
<ion-card>
  <ion-card-header>letscodebishkek@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>5</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>test@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>12</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card> 

<p class="title"><b>Payment: </b> <i>Total shops:</i> 17 <i>Total value:</i> 800</p>
<ion-card>
  <ion-card-header>letscodebishkek@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>5</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>test@gmail.com</ion-card-header>
  <ion-card-content>
    <div>
      <i><b>shops: </b>12</i>
      <span><b>Value: </b>400</span>
    </div>
  </ion-card-content>
</ion-card> 
