<div *ngIf="options.includes('stock')">
  <app-my-list-head [header]="'Stock: '" [data]="stock"></app-my-list-head>
  <app-my-user-list-card [data]="stock"></app-my-user-list-card>
</div>
<!-- order -->
<div *ngIf="options.includes('order')">
  <app-my-list-head [header]="'Orders: '" [data]="order"></app-my-list-head>
  <app-my-user-list-card [data]="order"></app-my-user-list-card>
</div>
<!-- supply -->
<div *ngIf="options.includes('supply')">
  <app-my-list-head [header]="'Supply: '" [data]="supply"></app-my-list-head>
  <app-my-user-list-card [data]="supply"></app-my-user-list-card>
</div>
<!-- payment -->
<div *ngIf="options.includes('payment')">
  <app-my-list-head [header]="'Payments: '" [data]="payment"></app-my-list-head>
  <app-my-user-list-card [data]="payment"></app-my-user-list-card>
</div>
